.DS_Store
/.run/
/.swiftpm/
/**/.build/
/**/DerivedData/
/**/__pycache__/
*.pyc
/**/*.xcuserstate
/**/xcuserdata/
/**/*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
